@use '../abstracts/' as *;

header {
    @extend %flexCenter;
    position: fixed;
    width: 100%;
    
    nav {
        margin-top: 2rem;
        background-color: $secondary-clr;
        padding: 0.6rem 1.2rem;
        border-radius: 99px;
        color: $main-clr;
        // width: clamp(500px, 60vw, 800px);

        ul {
            @extend %flexCenter;
            gap: 5rem;

            .left-nav {
                @extend %flexCenter;
                gap: 2rem;

                li > a {
                    color: $main-clr;
    
                    &:first-child {
                        display: flex;
                        align-items: center;
                    }
                }
            }
            
        }
    }
}
