@use '../abstracts/' as *;

#hero {
    height: 100svh;
    position: relative;
    // width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("/images/valorant-hero.webp");
    background-size: cover;

    .hero-container {
        @extend %flexCenter;
        flex-direction: column;
        gap: 5rem;

        #valorant {
            font-size: clamp(4rem, 10vw, 8rem);
        }
    }
    
    .bg-hero {
        z-index: -1;
        object-fit: cover;
        object-position: top;
    }

    .mouse{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
      }
      
      .mouse-icon{
         width: 25px;
         height: 45px;
         border: 2px solid white;
         border-radius: 15px;
         cursor: pointer;
         position: relative;
         text-align: center;
      }.mouse-wheel{
        height: 6px;
        margin: 2px auto 0;
        display: block;
        width: 3px;
        background-color: white;
        border-radius: 50%;
        -webkit-animation: 1.6s ease infinite wheel-up-down;
       -moz-animation: 1.6s ease infinite wheel-up-down;
        animation: 1.6s ease infinite wheel-up-down;
      }
      @-webkit-keyframes wheel-up-down {
          0% {
              margin-top: 2px;
              opacity: 0;
          }
          30% {
              opacity: 1;
          }
          100% {
              margin-top: 20px;
              opacity: 0;
          }
      }@-moz-keyframes wheel-up-down {
          0% {
              margin-top: 2px;
              opacity: 0;
          }
          30% {
              opacity: 1;
          }
          100% {
              margin-top: 20px;
              opacity: 0;
          }
      }@keyframes wheel-up-down {
          0% {
              margin-top: 2px;
              opacity: 0;
          }
          30% {
              opacity: 1;
          }
          100% {
              margin-top: 20px;
              opacity: 0;
          }
      }
}


