$main-clr: #101823;
$secondary-clr: #ECE7E1;
$accent-clr: #FF4654;
$bg-clr: $main-clr;

$title-clr: #ECE7E1;
$text-clr: #ECE7E1;
// Link colors

$link-color: $text-clr;
$link-color-hover: $accent-clr;