$breakpoint-xs: 475px;
$breakpoint-sm: 640px;
$breakpoint-md-max: 767px;
$breakpoint-md-min: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;
$breakpoint-2xl: 1480px;

@mixin xs-min-screen {
    @media (min-width: $breakpoint-xs) {
        @content;
    }
}
  
@mixin sm-min-screen {
    @media (min-width: $breakpoint-sm) {
        @content;
    }
}
  
@mixin md-min-screen {
    @media (min-width: $breakpoint-md-min) {
        @content;
    }
}

@mixin lg-min-screen {
    @media (min-width: $breakpoint-lg) {
        @content;
    }
}

@mixin xl-min-screen {
    @media (min-width: $breakpoint-xl) {
        @content;
    }
}

@mixin xxl-min-screen {
    @media (min-width: $breakpoint-2xl) {
        @content;
    }
}

// Max-width

@mixin xs-max-screen {
    @media (max-width: $breakpoint-xs) {
        @content;
    }
}
  
@mixin sm-max-screen {
    @media (max-width: $breakpoint-sm) {
        @content;
    }
}
  
@mixin md-max-screen {
    @media (max-width: $breakpoint-md-max) {
        @content;
    }
}

@mixin lg-max-screen {
    @media (max-width: $breakpoint-lg) {
        @content;
    }
}

@mixin xl-max-screen {
    @media (max-width: $breakpoint-xl) {
        @content;
    }
}

@mixin xxl-max-screen {
    @media (max-width: $breakpoint-2xl) {
        @content;
    }
}