@use '../abstracts/' as *;
@import '../base/_font-face.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: $fs-text;
  font-weight: $fw-text;
  color: $text-clr;
  font-family: "Poppins", sans-serif;
  background-color: $bg-clr;
}

h1, h2, h3, h4, h5, h6, span {
  font-size: $fs-title;
  color: $title-clr;
  font-family: "Archivo Black", sans-serif;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: $link-color;
  text-decoration: none;
  // font-size: $fs-400;
}

a:is(:hover, :focus) {
  color: $link-color-hover !important;
}

.btn-link {
  padding: 1rem 3rem;
  border-radius: $border-radius;
  font-weight: $fw-text-bold;
  background-color: $secondary-clr;
  color: $main-clr;
}


// Lenis 

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

// Error 404

#not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
  
  h1 {
    font-size: clamp(2rem, 2vw, 2vw);
  }
}
