@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "valorant";
  src: url("/app/static-font/Valorant_Font.ttf");
}
div.filter-agent .filter-container, .select-agent .select-agent-container .agent-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#detail-container .wrap-center, #hero .hero-container, div.filter-agent .filter-container .filter-role .list-role-container ul, header, header nav ul, header nav ul .left-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

#detail-container .wrap-center .info-container {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "valorant";
  src: url("/app/static-font/Valorant_Font.ttf");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: clamp(1rem, 3vw, 1.25rem);
  font-weight: 400;
  color: #ECE7E1;
  font-family: "Poppins", sans-serif;
  background-color: #101823;
}

h1, h2, h3, h4, h5, h6, span {
  font-size: 2rem;
  color: #ECE7E1;
  font-family: "Archivo Black", sans-serif;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  color: #ECE7E1;
  text-decoration: none;
}

a:is(:hover, :focus) {
  color: #FF4654 !important;
}

.btn-link {
  padding: 1rem 3rem;
  border-radius: 0.8rem;
  font-weight: 700;
  background-color: #ECE7E1;
  color: #101823;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

#not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
#not-found-container h1 {
  font-size: clamp(2rem, 2vw, 2vw);
}

.searchbar-form {
  position: relative;
  width: 300px;
  background-color: #ECE7E1;
}
.searchbar-form .searchbar {
  position: relative;
}
.searchbar-form .searchbar input {
  width: 100%;
  padding: 0.5rem 0.8rem;
  border-radius: 99px;
  border: 2px solid #101823;
  outline: none;
  font-size: 1rem;
  background-color: #ECE7E1;
}
.searchbar-form .searchbar button {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.5;
  background-color: #ECE7E1;
  border: none;
}
.searchbar-form .result-search {
  position: absolute;
  top: 3rem;
  left: 0rem;
  padding: 0.6rem;
  background: #ECE7E1;
  width: 90%;
  box-shadow: 0px 6px 5px rgba(255, 255, 255, 0.012), 0px 22px 18px rgba(255, 255, 255, 0.018), 0px 100px 80px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
.searchbar-form .result-search span a {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #101823;
  border-bottom: 1px solid #101823;
}
.searchbar-form .result-search span a:hover {
  color: #FF4654;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
}
@media (max-width: 767px) {
  header {
    display: none;
  }
}
header nav {
  margin-top: 2rem;
  background-color: #ECE7E1;
  padding: 0.6rem 1.2rem;
  border-radius: 99px;
  color: #101823;
}
header nav ul {
  gap: 8rem;
}
header nav ul .left-nav {
  gap: 2rem;
}
header nav ul .left-nav li > a {
  color: #101823;
}
header nav ul .left-nav li > a:first-child {
  display: flex;
  align-items: center;
}

.btn-menu {
  position: fixed;
  right: 0px;
  margin: 20px;
  z-index: 999;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #ECE7E1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .btn-menu {
    display: none;
  }
}

.burger {
  width: 100%;
}
.burger::after, .burger::before {
  content: "";
  display: block;
  height: 1px;
  width: 40%;
  margin: auto;
  background-color: #101823;
  position: relative;
  transition: transform 0.3s;
}
.burger::after {
  top: -5px;
}
.burger::before {
  top: 5px;
}

.burgerActive::after {
  transform: rotate(45deg);
  top: -1px;
}
.burgerActive::before {
  transform: rotate(-45deg);
  top: 0px;
}

.menu-sidebar {
  height: 100vh;
  background-color: #ECE7E1;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 99;
  color: #101823;
}
.menu-sidebar .body-sidebar {
  box-sizing: border-box;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 475px) {
  .menu-sidebar .body-sidebar {
    padding: 50px 10px;
  }
}
.menu-sidebar .body-sidebar .nav-sidebar {
  display: flex;
  flex-direction: column;
  font-size: 56px;
  gap: 12px;
  margin-top: 80px;
}
.menu-sidebar .body-sidebar .nav-sidebar .header-sidebar {
  color: rgb(153, 153, 153);
  border-bottom: 1px solid rgb(153, 153, 153);
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 40px;
}
.menu-sidebar .body-sidebar .nav-sidebar a {
  text-decoration: none;
  color: #101823;
  font-weight: 300;
}
.menu-sidebar .footer-sidebar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  font-size: 12px;
  gap: 40px;
}
.menu-sidebar .footer-sidebar a {
  color: #101823;
}

svg.svgCurve {
  position: absolute;
  top: 0;
  left: -99px;
  width: 100px;
  height: 100%;
  fill: #ECE7E1;
  stroke: none;
}

div.filter-agent .filter-container {
  padding: 1rem 4rem;
  border-top: 1px solid #ECE7E1;
  border-bottom: 1px solid #ECE7E1;
}
div.filter-agent .filter-container .filter-role .list-role-container .menuToggle {
  display: none;
}
div.filter-agent .filter-container .filter-role .list-role-container ul {
  gap: 2rem;
}
@media (max-width: 1024px) {
  div.filter-agent .filter-container .filter-role .list-role-container {
    position: relative;
  }
  div.filter-agent .filter-container .filter-role .list-role-container .menuToggle {
    display: block;
    border: 1px solid #ECE7E1;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #ECE7E1;
    color: #101823;
  }
  div.filter-agent .filter-container .filter-role .list-role-container ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    top: 80%;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
    z-index: 999;
    background-color: #ECE7E1;
    opacity: 0;
    transition: all 0.4s;
  }
  div.filter-agent .filter-container .filter-role .list-role-container ul li > a {
    color: #101823;
  }
  div.filter-agent .filter-container .filter-role .list-role-container.active {
    position: relative;
  }
  div.filter-agent .filter-container .filter-role .list-role-container.active .menuToggle {
    display: block;
    border: 1px solid #ECE7E1;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    background-color: #ECE7E1;
    color: #101823;
  }
  div.filter-agent .filter-container .filter-role .list-role-container.active ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: absolute;
    top: 80%;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    padding: 1rem;
    z-index: 999;
    background-color: #ECE7E1;
    opacity: 1;
  }
  div.filter-agent .filter-container .filter-role .list-role-container.active ul li > a {
    color: #101823;
  }
}
@media (max-width: 640px) {
  div.filter-agent .filter-container {
    padding: 1rem 2rem;
  }
}
@media (max-width: 475px) {
  div.filter-agent .filter-container {
    padding: 1rem;
  }
}

.select-agent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media (min-width: 1280px) {
  .select-agent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.select-agent .select-agent-container {
  position: relative;
  padding: 2rem 4rem;
  border-right: 1px solid #ECE7E1;
  cursor: pointer;
  transition: all 0.2s;
}
.select-agent .select-agent-container:before {
  content: "";
  position: absolute;
  height: 1px;
  background: #ECE7E1;
  left: 0;
  width: 100%;
  bottom: 0;
}
.select-agent .select-agent-container .agent-number {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
}
.select-agent .select-agent-container .agent-info .agent-name {
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  font-size: clamp(1.75rem, 5vw, 5rem);
  transition: all 0.4s;
}
.select-agent .select-agent-container .agent-info .agent-role {
  font-weight: 700;
  transition: all 0.4s;
  transform: translateY(10px);
}
@media (max-width: 475px) {
  .select-agent .select-agent-container .agent-info .agent-role {
    margin-top: -2vw;
  }
}
.select-agent .select-agent-container:hover .agent-role {
  transform: translate(-10px, 10px);
}
.select-agent .select-agent-container:hover .agent-name {
  transform: translateX(10px);
}
.select-agent .select-agent-container:hover .agent-number {
  transform: translateX(10px);
}
@media (max-width: 1280px) {
  .select-agent .select-agent-container {
    width: 100%;
  }
}
@media (max-width: 640px) {
  .select-agent .select-agent-container {
    padding: 2rem;
  }
}
@media (max-width: 475px) {
  .select-agent .select-agent-container {
    padding: 2rem 1rem;
  }
}

#hero {
  height: 100svh;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("/images/valorant-hero.webp");
  background-size: cover;
}
#hero .hero-container {
  flex-direction: column;
  gap: 5rem;
}
#hero .hero-container p {
  text-align: center;
}
#hero .hero-container #valorant {
  font-size: clamp(4rem, 10vw, 8rem);
}
#hero .bg-hero {
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
#hero .mouse {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
}
#hero .mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
#hero .mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: white;
  border-radius: 50%;
  animation: 1.6s ease infinite wheel-up-down;
}
@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}

#detail-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 9rem;
}
@media (max-width: 1280px) {
  #detail-container {
    padding-top: 9rem;
  }
}
@media (max-width: 1280px) {
  #detail-container .wrap-center {
    flex-direction: column;
  }
}
#detail-container .wrap-center .fullportrait-container {
  position: relative;
  height: 100%;
  width: 100%;
}
@media (max-width: 1280px) {
  #detail-container .wrap-center .fullportrait-container img {
    height: 100vh !important;
    opacity: 0.3;
    z-index: -1;
  }
}
#detail-container .wrap-center .info-container {
  width: 80%;
  padding: 0rem 5rem;
  gap: 2rem;
}
@media (max-width: 1280px) {
  #detail-container .wrap-center .info-container {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #detail-container .wrap-center .info-container {
    padding: 0rem 4rem;
  }
}
#detail-container .wrap-center .info-container h1 {
  font-size: clamp(3rem, 4vw, 4vw);
  text-transform: uppercase;
}
#detail-container .wrap-center .info-container span {
  font-size: clamp(1rem, 1vw, 1.25rem);
  text-transform: uppercase;
}
#detail-container .wrap-center .info-container h2 {
  font-size: clamp(2rem, 2vw, 3vw);
  text-transform: uppercase;
}
#detail-container .wrap-center .info-container .line-separation {
  position: relative;
  height: 10px;
  width: 100%;
}
#detail-container .wrap-center .info-container .line-separation::after {
  position: absolute;
  bottom: 0px;
  content: " ";
  width: 100%;
  background-color: #ECE7E1;
  height: 1px;
  left: 0px;
}
#detail-container .wrap-center .info-container h3 {
  font-size: clamp(2rem, 2vw, 3vw);
  text-transform: uppercase;
}
#detail-container .wrap-center .info-container .skills-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}
#detail-container .wrap-center .info-container .skills-container .skills-choice {
  cursor: pointer;
  border: 1px solid #ECE7E1;
  padding: 0.5rem;
}
#detail-container .wrap-center .info-container .skills-description .skill-name {
  text-transform: uppercase;
  font-family: "Archivo Black", sans-serif;
  margin-bottom: 2rem;
}

#more h3 {
  text-align: center;
  font-size: clamp(1.5rem, 3.5vw, 4vw);
  margin: 10rem 0rem;
}/*# sourceMappingURL=main.css.map */